<app-header></app-header>
<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Place</mat-label>
    <input matInput id="place" name="place" formControlName="place">
    <mat-error *ngIf="billForm.get('place')?.invalid && billForm.get('place')?.touched">Please enter name of place</mat-error>
  </mat-form-field>
  <table formArrayName="friends">
    <tr>
      <th>Name</th>
      <th>PaidAmount</th>
      <th>Comment</th>
    </tr>
    <ng-container *ngFor="let f of friends.controls; let i = index;">
      <tr [formGroupName]="i">
        <td>
          <mat-form-field appearance="fill">
            <mat-label>FriendName</mat-label>
            <input matInput type="text" placeholder="Jon" name="friendname" formControlName="friendName">
            <mat-error *ngIf="friends.controls[i].get('friendName')?.invalid && friends.controls[i].get('friendName')?.touched">
              Pls enter name
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" name="paidAmt" formControlName="paidAmt" min="0">
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="friends.controls[i].get('paidAmt')?.invalid && friends.controls[i].get('paidAmt')?.touched">
              Pls enter positive number
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <input matInput placeholder="pay for drink" name="comment" formControlName="comment">
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button color="primary" (click)="onAddFriend()" [disabled]="friends.controls[i]?.invalid || i+1!=friends.length">
            <mat-icon>person_add_alt_1</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button color="primary" (click)="onDeleteFriend(i)" [disabled]="friends.length<2">
            <mat-icon>person_remove</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <button mat-stroked-button color="primary" type="submit" [disabled]="billForm.invalid" (click) = "submitTrue()">
    <mat-icon>calculate</mat-icon>Calculate
  </button>
</form>
<mat-divider></mat-divider>
<mat-card class="card">
  <h1> Bill <span *ngIf='this.billForm.value["place"]!=""'>for {{this.billForm.value["place"]}}</span></h1>
  <p>
  <span *ngFor="let friend of this.billForm.value['friends']">
    <ng-container *ngIf="friend['paidAmt']!=0">
      {{friend["friendName"]}} paid ${{friend["paidAmt"] |number:'1.0-2':'en-US'}}
      <span *ngIf="friend['comment']!=''">
        ({{friend["comment"]}})
      </span>
      <br/>
    </ng-container>
  </span>
  </p>
  <p>
    Bill = <span *ngFor = 'let friend of this.billForm.value["friends"]; let i = index;'>
      <ng-container *ngIf="friend['paidAmt']!=0 && isSubmitted && billForm.valid">
        {{i==0?'':'+'}} ${{friend["paidAmt"] |number:'1.0-2':'en-US'}}
      </ng-container>
    </span>
    <br/>
    <ng-container *ngIf="totalBill != 0 && isSubmitted  && billForm.valid">= ${{totalBill |number:'1.0-2':'en-US'}}</ng-container>
    <br/>
    <br/>
    <ng-container *ngIf="individualBill!=0">
      <span *ngFor='let friend of this.billForm.value["friends"]'>
        <ng-container *ngIf='friend["friendName"]!="" && isSubmitted  && billForm.valid'>
          {{friend["friendName"]}} bill = ${{individualBill |number:'1.0-2':'en-US'}} - ${{friend["paidAmt"] |number:'1.0-2':'en-US'}} = ${{individualBill - friend["paidAmt"] |number:'1.0-2':'en-US'}}
        </ng-container>
        <br/>
      </span>
    </ng-container>
  </p>
  <div fxLayoutAlign="end center" *ngIf="isSubmitted">
    <button mat-icon-button color="primary" (click) = "onCopy()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-card>

